## EXPIRES CACHING ##
<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType image/jpg "access 2 year"
ExpiresByType image/jpeg "access 2 year"
ExpiresByType image/gif "access 2 year"
ExpiresByType image/png "access 2 year"
ExpiresByType text/css "access 2 month"
ExpiresByType text/html "access 2 month"
ExpiresByType application/pdf "access 2 month"
ExpiresByType text/x-javascript "access 2 month"
ExpiresByType application/x-shockwave-flash "access 2 month"
ExpiresByType image/x-icon "access 2 year"
ExpiresDefault "access 1 month"
</IfModule>
## EXPIRES CACHING ##
# 1 Month for most static assets
<filesMatch ".(css|jpg|jpeg|png|gif|js|ico)$">
Header set Cache-Control "max-age=4592000, public"
</filesMatch>